<section class="blog-card">
    <section class="main-blog">
        <h2>{{title}}</h2>
        <h4>{{users.[0].username}}</h4>
        <h4>{{createdAt}}</h4>
        <p>{{body}}</p>
    </section>

    <section class="comment-section">
        {{#each comments as |comment|}}
        {{> comment-details}}
        {{/each}}
    </section>
</section>