<section class="card">
    <h2>{{title}}</h2>
    <h4>{{author}}</h4>
    <p>{{body}}</p>
</section>

{{!-- this is a super simple file that makes a card, it looks for the the data that is in the keys of title, author, and body then puts those values at the inner html --}}