<section class="blog-card">
    <section class="main-blog rounded">
        <div class="text-left main-blog-header">
            <h2>{{title}}</h2>
            <div>
                <h5>{{users.[0].username}}</h5>
                <h5>{{createdAt}}</h5>
            </div>
        </div>
        <div class="main-blog-body">
            <h6>Click to see comments</h6>
            <p>{{body}}</p>
        </div>
    </section>

    <section class="comment-section mt-2 rounded" style="display: none">
        <div class="add-comment">
            <lable>Add comment</lable>

            <div class="input-group mb-3">
                <input type="text" class="comment-input form-control" placeholder="Comment"
                    aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="comment-submit btn btn-outline-success" type="button" id="button-addon2">Submit</button>
            </div>

        </div>
        <div class="overflow-auto comment-wrapper">
            {{#each comments as |comment|}}
            {{> comment-details}}
            {{/each}}
        </div>
    </section>
</section>

{{!-- this is what every single blog is made from--}}
{{!-- then every single blog also has a place for the comments --}}