<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <main>
    <div class="blogs">
      {{{body}}}
    </div>
  </main>
</body>
<script src="./js/time-out.js"></script>

</html>

{{!-- because this file is in the layouts folder it gets put over everything else, so when i call a route this header
part still stays that is because it is a layout --}}