  <section>
    <section id="blog-render">
        {{#each userBlogs as |blog|}}
        {{> dashboard-details }}
        {{/each}}
    </section>
    <div id="modal" class="modal">
        <div class="modal-content">
            <h4 class="mb-4">Create new blog</h4>
            <span class="close">&times;</span>
            <div class="form-group">
                <label for="new-blog-title">Title</label>
                <input id="new-blog-title" class="form-control">
            </div>
            <div class="form-group">
                <label for="new-blog-body">Body</label>
                <textarea id="new-blog-body" class="form-control"></textarea>
            </div>
            <button id="new-blog-button" class="btn btn-primary">Create</button>
        </div>
    </div>

    <button id="open-modal" class="btn btn-primary mt-3">New Blog</button>
    <script src="./js/dashboard.js"></script>
  </section>

  {{!-- This is the dashboard page --}}