<section>
    <nav>
        <a href="/">Home</a>
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        <button id="logout-button">Logout</button>
        <script src="./js/logout.js"></script>
        {{else}}
        <a href="/login">Dashboard</a>
        <a href="/login">Login</a>
        {{/if}}
    </nav>
    <h1 id="tech-header">Tech Blog</h1>
    <section id="blog-render">
        {{#each userBlogs as |blog|}}
        {{> dashboard-details }}
        {{/each}}
    </section>
    <div id="modal" class="modal">
        <div class="modal-content">
            <h4>Create new blog</h4>
            <span class="close">&times;</span>
            <div>
                <label>Title</label>
                <input id="new-blog-title">
            </div>
            <div>
                <label>Body</label>
                <textarea id="new-blog-body"></textarea>
            </div>
            <button id="new-blog-button">Create</button>
        </div>
    </div>

    <button id="open-modal">New Blog</button>
    <script src="./js/dashboard.js"></script>
</section>