<section class="text-center">
  <div class="d-flex flex-column align-items-center">
    <h2>Blogs</h2>

      {{#each blogs as |blog|}}
        {{> blog-details}}
      {{/each}}

  </div>
  <script src="./js/blog-details.js"></script>
</section>


{{!-- This is the homepage --}}