<section>
    <nav>
        <a href="/">Home</a>
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        <button id="logout-button">Logout</button>
        <script src="./js/logout.js"></script>
        {{else}}
        <a href="/login">Dashboard</a>
        <a href="/login">Login</a>
        {{/if}}
    </nav>
    <h1 id="tech-header">Tech Blog</h1>
    <div>
        {{#each blogs as |blog|}}
        {{> blog-details}}
        {{/each}}
    </div>
    <script src="./js/blog-details.js"></script>
</section>

{{!-- when homepage is called in the routes this will be put in the body of the main.layout --}}

{{!-- the each parts make is so a custom element is made for every single item in the array --}}