<section>
    <h2></h2>
    <div>
        {{#each blogs as |blog|}}
        {{> blog-details}}
        {{/each}}
    </div>
    <script src="./js/blog-details.js"></script>
    <script src="path/to/dayjs/dayjs.min.js"></script>
</section>