<section class="container">
        <div>
            <label>Username</label>
            <input id="login-username" type="text" name="username" placeholder="Username">
        </div>
        <div>
            <label>Paassword</label>
            <input id="login-password" type="password" name="password" placeholder="Password">
        </div>
        <button id="login-button">Submit</button>
    <h4>Don't have an account? sign up here</h4>
    <button><a href="/signup">Sign up</a></button>
    <script src="./js/login.js"></script>
</section>

{{!-- this will get put in the body of main.handlebars --}}