  <section class="container sign-log">
    <div>
      <label for="login-username">Username</label>
      <input id="login-username" class="form-control" type="text" name="username" placeholder="Username">
    </div>
    <div>
      <label for="login-password">Password</label>
      <input id="login-password" class="form-control" type="password" name="password" placeholder="Password">
    </div>
    <button id="login-button" class="btn btn-success">Submit</button>
    <h4>Don't have an account? sign up here</h4>
    <button class="btn btn-success"><a href="/signup">Sign up</a></button>
    <script src="./js/login.js"></script>
  </section>

{{!-- This is the login page --}}