<section class="container">
        <nav>
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        {{#if loggedIn}}
        <button id="logout-button">Logout</button>
        <script src="./js/logout.js"></script>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
    </nav>
    <h1 id="tech-header">Tech Blog</h1>
        <div>
            <label>Username</label>
            <input id="signup-username" type="text" name="username" placeholder="Username">
        </div>
        <div>
            <label>Password</label>
            <input id="signup-password" type="password" name="password" placeholder="Password">
        </div>
        <button id="signup-button">Submit</button>
    <h4>Already have an account? login here</h4>
    <button><a href="/login">login</a></button>
    <script src="./js/signup.js"></script>
</section>

{{!-- this will get put in the body of main.handlebars --}}