<section class="container">
  <div>
    <label for="signup-username">Username</label>
    <input id="signup-username" class="form-control" type="text" name="username" placeholder="Username">
  </div>
  <div>
    <label for="signup-password">Password</label>
    <input id="signup-password" class="form-control" type="password" name="password" placeholder="Password">
  </div>
  <button id="signup-button" class="btn btn-primary">Submit</button>
  <h4>Already have an account? login here</h4>
  <button class="btn btn-primary"><a href="/login">login</a></button>
  <script src="./js/signup.js"></script>
</section>

{{!-- This is the sign up page --}}